<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>add choice</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/addquestion.css">
</head>
<body>
	<div class="content">
	 <form th:object="${choice}" th:action="@{../savechoice}" action="#" method="post">
	<h2 th:text="${question.getName}"></h2>
	
	<table class="table table-stripped">
						<tr th:each="question : ${question}">
							
						</tr>
						<tr th:each="choice : ${question.getChoices()}">
							<td th:text="${choice.name}">Name</td>
						</tr>
					</table>
		<div class="col">

						<select id="queryList" th:field="*{question}" class="form-control">
				            <option th:each="question:${question}" th:value="${question.question_id}" th:text="${question.name}"></option>
				        </select>
			</div>
	
	
	
	
		<div class="col-auto">
			
			<label for="choicetext">Add choice:</label> 
			<textArea id="name" th:field="*{name}" class="form-control" rows="6"></textArea>
		</div>
		<input class="choiceSubmit" type="submit" value="Save choice" />
	</form>
	<a href="/querylist">Back to Queries</a>
	</div>
</body>
</html>