<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>add question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/addquestion.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Add question</h1>
		</div>
		<div class="addQuestionForm">
		    <form th:object="${question}" th:action="@{../savequestion}" action="#" method="post">
		        <div class="form-row">
					<table>
						<tr th:each="question : ${questions}">
							<td th:text="${question.name}">Name</td>
						</tr>
					</table>
					<div class="col">

						<select id="queryList" th:field="*{query}" class="form-control">
				            <option th:each="query:${query}" th:value="${query.query_id}" th:text="${query.heading}"></option>
				        </select>

					</div>
					<br>
					<div class="col">
				  		<label for="question">Question</label>
						<textArea id="name" class="form-control" th:field="*{name}"></textArea>
					</div>
				</div>
		        <input class="saveQuestion" type="submit" value="Save Question"></input>
		    </form>
		</div>
		<br>
		<a href="/querylist">Back to Queries</a>
	</div>
</body>
</html>