<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<a href="/querylist">Back to Queries</a>
	<table class="table table-striped">
		<tr>
			<th>Questions</th>
		</tr>
		<tr th:each="question : ${query.getQuestions()}">
			<td th:text="${question.name}"></td>
			<td th:switch="${question.type}">
				<span th:case="radio">
					<a th:href="@{/addchoice/{id}(id=${question.question_id})}"><button>Edit</button></a>
				</span> 
				<span th:case="checkbox">
					<a th:href="@{/addchoice/{id}(id=${question.question_id})}"><button>Edit</button></a>
				</span>
			</td>
			<!-- <td th:text="${question.name}">Name</td> -->
		</tr>
	</table>
</body>
</html>