<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Querylist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	
	<div class="col-md-4">
		<h1>Queries</h1>
	</div>
	<div class="col-md-4">
	
	</div>
	
	<table class="table table-striped">
		<tr>
			<th>Heading</th>
			<th>Description</th>
		</tr>
		<tr th:each="query : ${queries}">
			<td th:text="${query.heading}">Heading</td>
			<td th:text="${question.description}">Name</td>
		</tr>
	</table>
	<!--  <a href="/add" class="btn btn-success">Add Question</a>   --> 
</body>
</html>