<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Querylist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/querylist.css" type="text/css">
</head>
<body>
	
	<!-- Header -->
	<div class="header">
		<h1>Queries</h1>
	</div>
	
	<!-- Create new Query -button -->
	<div class="createQuery">
		<a href="/addquery">
			<button class="queryButton">Create new Query</button>
		</a>
	</div>
	 
	 <!-- Table -->
	<table class="table table-striped">
		<tr>
			<th>Heading</th>
			<th>Description</th>
			<th>Questions</th>
		</tr>
		<tr th:each="query : ${queries}">
			<td th:text="${query.heading}">Heading</td>
			<td th:text="${query.description}">Name</td>
			<td th:each="question : ${query.getQuestions()}" th:text="${question.name}">Questions</td>
			<td><a href="/addquestion">add question</a></td>
		</tr>
	</table>
</body>
</html>