<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rest Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/resthome.css" type="text/css">
</head>
<body>
	<div class="content">
		<h1>REST Homepage</h1>
		<h2>All Queries</h2>

		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/queries">/queries</a>
		</p>
		<p>JSON example:</p>

		<pre>
		<code>
[
  {
    "query_id": 1,
    "heading": "Kulttuurikysely",
    "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
  },
  {
    "query_id": 2,
    "heading": "Urheilutapahtuma Helsingissä 2023",
    "description": "Millainen on sinun unelma urheilutapahtumasi ensi vuodelle"
  }
]
		</code>
	</pre>

		<h2>Query by id</h2>
		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/queries/1">/queries/1</a>
		</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "query_id": 1,
  "heading": "Kulttuurikysely",
  "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
}
		</code>
	</pre>

		<h2>New Query</h2>
		<p>Method: POST</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "heading": "Kulttuurikysely",
  "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
}
		</code>
	</pre>

		<h2>All Questions</h2>
		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/questions">/questions</a>
		</p>
		<p>JSON example:</p>

		<pre>
<code>	
[
  {
    "question_id": 1,
    "name": "Mitä elokuvaa suosittelet",
    "query": {
      "query_id": 1,
      "heading": "Kulttuurikysely",
      "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
      }
  },
  {
    "question_id": 2,
    "name": "Mitä tv-sarjaa suosittelet",
    "query": {
      "query_id": 1,
      "heading": "Kulttuurikysely",
      "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
      }
  },
  {
    "question_id": 3,
    "name": "Mitä musiiikkia suosittelet",
    "query": {
      "query_id": 1,
      "heading": "Kulttuurikysely",
      "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
      }
  },
  {
    "question_id": 4,
    "name": "Mitä urheilulajeja haluat, että tapahtumassa pääsisi kokeilemaan?",
    "query": {
      "query_id": 2,
      "heading": "Urheilutapahtuma Helsingissä 2023",
      "description": "Millainen on sinun unelma urheilutapahtumasi ensi vuodelle"
      }
  }
]
</code>
</pre>

		<h2>Question by id</h2>
		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/questions/1">/questions/1</a>
		</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "question_id": 1,
  "name": "Mitä elokuvaa suosittelet",
  "query": {
    "query_id": 1,
    "heading": "Kulttuurikysely",
    "description": "Kyselyssä kysytään suositeltavia elokuvaa, tv-sarjaa ja musiikkia"
    }
}
		</code>
	</pre>

		<h2>New Question</h2>
		<p>Method: POST</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "question_id": 1,
  "name": "Mitä elokuvaa suosittelet",
  "query": {
     "query_id": 1
    }
}
		</code>
	</pre>

		<h2>All Answers</h2>

		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/answers">/answers</a>
		</p>
		<p>JSON example:</p>

		<pre>
		<code>
[
  {
    "answer_id": 1,
    "text": "Hain muutamaan ammattikorkeakouluun, Haaga-Helia oli ainut mihin pääsin sisään.",
       "question": {
       "question_id": 1,
       "name": "Miksi päätit hakea Haaga-Heliaan?"
    }
  },
  {
    "answer_id": 2,
	"text": "En ole.",
	"question": {
	"question_id": 2,
	"name": "Oletko opiskellut jossain toisessa korkeamman tason koulutuksessa ennen Haaga-Heliaa?"
    }
  }, ...
]
		</code>
	</pre>

		<h2>Answer by id</h2>
		<p>Method: GET</p>
		<p>
			Endpoint: <a href="https://moti22.herokuapp.com/answers/1">/answers/1</a>
		</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "answer_id": 1,
  "text": "Hain muutamaan ammattikorkeakouluun, Haaga-Helia oli ainut mihin pääsin sisään.",
    "question": {
    "question_id": 1,
    "name": "Miksi päätit hakea Haaga-Heliaan?"
    }
}

		</code>
	</pre>

		<h2>New Answer</h2>
		<p>Method: POST</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
  "answer_id": 1,
  "text": "Hain muutamaan ammattikorkeakouluun, Haaga-Helia oli ainut mihin pääsin sisään.",
    "question": {
    "question_id": 1
    }
}
		</code>
	</pre>

		<h2>All choices</h2>
		<p>Method: GET</p>
		<p>JSON example:</p>

		<pre>
		<code>
{
	"choice_id": 11,
	"name": "Kyllä",
	"question": {
		"question_id": 2,
		"name": "Oletko opiskellut jossain toisessa korkeamman tason koulutuksessa ennen Haaga-Heliaa?",
		"type": "radio",
		"answers": [
			{
			"answer_id": 2,
			"text": "Ei"
			},
			{
			"answer_id": 12,
			"text": "Ei"
			},
			{
			"answer_id": 22,
			"text": "Kyllä"
			}
		],
		"choices": [
			{
			"choice_id": 11,
			"name": "Kyllä"
			},
			{
			"choice_id": 12,
			"name": "Ei"
			}
		]
	}
	},
	{
	"choice_id": 12,
	"name": "Ei",
	"question": {
		"question_id": 2,
		"name": "Oletko opiskellut jossain toisessa korkeamman tason koulutuksessa ennen Haaga-Heliaa?",
		"type": "radio",
		"answers": [
			{
			"answer_id": 2,
			"text": "Ei"
			},
			{
			"answer_id": 12,
			"text": "Ei"
			},
			{
			"answer_id": 22,
			"text": "Kyllä"
			}
		],
		"choices": [
			{
			"choice_id": 11,
			"name": "Kyllä"
			},
			{
			"choice_id": 12,
			"name": "Ei"
			}
		]
	}
},
		</code>
	</pre>
	</div>

</body>
</html>